daemon off;
master_process off;
worker_processes  1;

error_log stderr debug;
load_module "./target/debug/libngx_biscuit.so";
pid tmp/nginx.pid;

events { }

http {
    server {
        listen 8080;
        access_log off;

        location / {
	    auth_biscuit_public_key "ed25519/0a843f91366c1b17bed9715ace06beed1ffb64b3ae755f9d20e94a5b29f5bf68";
	    auth_biscuit_authorizer_file authorizer;
        }
    }
}
